
.messages__message{data:{message:{id: message.id}}}
  .messages__message__post
    .messages__message__post__poster
      = message.user.name
    .messages__message__post__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .messages__message__lower
    - if message.text.present?
      %p.messages__message__lower__text
        = message.text
    = image_tag message.image.url, class: "messages__message__lower__image" if message.image.present?
      
