.wrapper
  = render "shared/content-side"
  .content
    .right-header
      .right-header__box
        .right-header__box__now-group
          test-group
        .right-header__box__people
          aaa
      = link_to "Edit", edit_group_path(current_user), class: "right-header__btn--edit"
