
@import "variable";

.content{
  width: calc(100vw - 300px);
  float: left;
  
}
.right-header{
  height: 100px;
  border-bottom: solid 1px #eee;
  padding: 0 40px;
  display: flex;
  background-color: $white;
  
  &__box{
    &__now-group{
      font-size: 20px;
      color: #333333;
      padding-top: 35px;
      margin-bottom: 15px;

    }
    &__list{
      display: flex;
      font-size: 12px;
      color: $people-color;
      &__people{
        margin: 0 10px;
      }
    }

  }
  &__btn--edit{
    display: flex;
    height: 40px;
    margin-top: 30px;
    padding: 0 20px;
    border: solid 1px $blue;
    position:absolute;
    right: 40px;
    line-height: 40px;
    color: $blue;
  }
}

.messages{
  padding: 46px 40px;
  background-color: $wrapper-color;
  height: calc(100vh - 264px);
  overflow: scroll;
  &__message{
      padding-bottom: 40px;
    &__post{
        display: flex;
        margin-bottom: 10px;
      &__poster{
        font-size: 16px;
        font-weight: bold;
        color: $text-color;
        
      }
      &__date{
        font-size: 12px;
        color: $people-color;
        margin-left: 10px; 
      }
    }
    &__lower__text{
      font-size: 14px;
      color: $text-color;
      margin-bottom: 10px;
    }
    &__lower__image{
      margin-top: 10px;
    }
    
  }
}

.form {
  padding: 20px 40px;
  background-color: #ddd; 
  height: 50px;
  &__message{
    background-color: $white;
    border-style: none;
    padding: 0 10px;
    width: 100%;
  }
  &__mask{
    background-color: $white;
    padding-right: 10px;
    &__image{
      height: 50px;
      cursor: pointer;
      line-height: 50px;
    }
  }
  &__submit{
    width: 100px;
    background-color: $blue;
    margin-left: 15px;
    height: 50px;
    color: $white;
    padding: 0 30px;
  }
}

.form form{
  display: flex;
}

.hidden{ 
  display: none;

}
.fa{
  display: inline-block;
}


