@import "variable";

.left-header {
  background-color: #253141;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: $white;
  justify-content: space-between;
  

  &__box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    &__user-name {
      font-size: 16px;
      float: left;
    }
    &__menu {
      display: flex;
      &__group-new{
        &__btn{
          &--edit{
            color: $white;
            font-size: 16px;
          }
          
        } 
      }
      &__user-edit{
        &__btn{
          &--cog{
            margin-left: 5px;
            color: $white;
            font-size: 16px;
          }
          
        } 
      }
      
    }
  }


}