//複数回使用する色は、変数を定義する用のファイルを作成して、そのファイルに定義してください。
//このようにする理由は、変数を定義するファイルを読み込んでおくことで、
//その他のスタイルシートでも定義した変数を使用することができるからです。
$white: #ffffff;
$blue: #38aef0;
$text-color: #434A54;
$people-color: #999999;
$wrapper-color: #fafafa;
$alert-color: #FF4500;