@import "./reset";
@import "font-awesome";
@import "left-header";
@import "groups";
@import "content";

.wrapper{
    display: flex;
    background-color: $wrapper-color;
}
.content-side{ 
    height: calc(100vh - 100px);
   
}