@import "./reset";
@import "font-awesome";
@import "left-header";
@import "groups";
@import "content";
@import "modules/user";
@import "modules/flash";
@import "variable";
@import "modules/group";
.wrapper{
    display: flex;
    background-color: $wrapper-color;
}
.content-side{ 
    height: calc(100vh - 100px);
   
}